.ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3 { display: table-cell; vertical-align: top; float: none !important; }
@media (max-width: 580px) {
    .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3 { display: block; }
}
.ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3 { width: 33.3333%; }
@media (max-width: 580px) {
    .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of3 { width: 100%; }
}
.ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2 { width: 50%; }
@media (max-width: 580px) {
    .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-1of2 { width: 100%; }
}
.ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3 { width: 66.6667%; }
@media (max-width: 580px) {
    .ie10 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .lt-ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3, .ie9 .rci-renault.rci-common .rci-row-eq-height .rci-col-2of3 { width: 100%; }
}
.rci-renault.rci-common .rci-row-eq-height { display: flex; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-row-eq-height { flex-direction: column; }
}
.ie10 .rci-renault.rci-common .rci-row-eq-height { display: table; }
.rci-renault.rci-common .rci-watchers-hide { display: none; }
.rci-renault.rci-common .rci-boxes-hide { display: none !important; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .rci-renault.rci-common select:focus, .rci-renault.rci-common textarea:focus, .rci-renault.rci-common input:focus { font-size: 16px; }
}
.rci-renault.rci-common * { -webkit-tap-highlight-color: transparent; }
.rci-renault.rci-common .rci-errorPopup { display: none; z-index: 100000; text-align: center; position: absolute; inset: 0px; width: 100%; height: 100%; max-width: 100%; background-color: rgba(255, 255, 255, 0.7); }
.rci-renault.rci-common .rci-errorPopup .rci-errorPopup-fixed { position: sticky; top: 50%; transform: translateY(-50%); width: 100%; height: 1px; left: 0px; }
.ie11 .rci-renault.rci-common .rci-errorPopup .rci-errorPopup-fixed { position: fixed; }
.rci-renault.rci-common .rci-errorPopup .rci-errorPopup-fixed .rci-errorPopup-body { display: block; z-index: 100000; background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); padding: 20px; font-family: renaultlifeweb-regular; max-width: 600px; width: 100%; height: auto; min-height: 1px; margin: auto; }
.rci-renault.rci-common .rci-errorPopup .rci-errorPopup-fixed .rci-errorPopup-body .message { color: rgb(0, 0, 0); font-size: 14px; margin-bottom: 20px; display: block; position: relative; text-align: left; }
.rci-renault.rci-common .rci-errorPopup .rci-errorPopup-fixed .rci-errorPopup-body button { font-family: renaultlifeweb-bold; margin: 0px; background: rgb(255, 204, 51); color: rgb(0, 0, 0); height: 50px; width: 150px; position: relative; cursor: pointer; border: none; text-transform: uppercase; text-align: center; }
.rci-renault.rci-common .rci-errorPopup::before { content: " "; display: table; }
.rci-renault.rci-common .rci-bg-light-grey { background-color: rgb(222, 222, 222); }
.rci-renault.rci-common .rci-bg-white { background-color: rgb(255, 255, 255); }
.rci-renault.rci-common .rci-bg-yellow { background-color: rgb(255, 204, 51); }
.rci-renault.rci-common .rci-text-black { color: rgb(0, 0, 0); }
.rci-renault.rci-common .rci-text-black:hover, .rci-renault.rci-common .rci-text-black:focus { color: rgb(0, 0, 0); }
.rci-renault.rci-common .rci-text-dark-grey { color: rgb(102, 102, 102); }
.rci-renault.rci-common .rci-text-dark-grey:hover, .rci-renault.rci-common .rci-text-dark-grey:focus { color: rgb(102, 102, 102); }
.rci-renault.rci-common .swiper-container { margin: 0px auto; position: relative; overflow: visible; z-index: 1; padding-left: 0.1px; }
@media (max-width: 580px) {
    .windowsphone .rci-renault.rci-common .swiper-container { padding-left: 1px; }
}
.rci-renault.rci-common .swiper-container-no-flexbox .swiper-slide { float: left; }
.rci-renault.rci-common .swiper-container-vertical > .swiper-wrapper { -webkit-box-orient: vertical; flex-direction: column; }
.rci-renault.rci-common .swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transform-style: preserve-3d; transition-property: transform; box-sizing: content-box; }
.rci-renault.rci-common .swiper-container-android .swiper-slide, .rci-renault.rci-common .swiper-wrapper { transform: translate3d(0px, 0px, 0px); }
.rci-renault.rci-common .swiper-container-multirow > .swiper-wrapper { flex-wrap: wrap; }
.rci-renault.rci-common .swiper-container-free-mode > .swiper-wrapper { transition-timing-function: ease-out; margin: 0px auto; }
.rci-renault.rci-common .swiper-slide { transform-style: preserve-3d; flex-shrink: 0; width: 100%; height: 100%; position: relative; }
@media (max-width: 580px) {
    .windowsphone .rci-renault.rci-common .swiper-slide { padding-right: 1px; }
}
.rci-renault.rci-common .swiper-container .swiper-notification { position: absolute; left: 0px; top: 0px; pointer-events: none; opacity: 0; z-index: -1000; }
.rci-renault.rci-common .swiper-wp8-horizontal { touch-action: pan-y; }
.rci-renault.rci-common .swiper-wp8-vertical { touch-action: pan-x; }
@-webkit-keyframes swiper-preloader-spin {
    100% { transform: rotate(360deg); }
}
@keyframes swiper-preloader-spin {
    100% { transform: rotate(360deg); }
}
.rci-renault.rci-common > .rci-wrapper { position: relative; }
.rci-renault.rci-common .rci-compare-design { background-color: rgb(238, 238, 238); overflow: hidden; perspective: none; backface-visibility: visible; transform-origin: 0px 0px 0px; }
.rci-renault.rci-common .rci-page-loader { display: none; z-index: 10000; text-align: center; position: absolute; width: 100%; height: 100%; inset: 0px; background-color: rgba(255, 255, 255, 0.75); }
.rci-renault.rci-common .rci-page-loader .rci-loader-fixed { position: sticky; width: 100%; height: 100vh; top: 0px; }
.ie11 .rci-renault.rci-common .rci-page-loader .rci-loader-fixed { position: absolute; }
.rci-renault.rci-common .rci-page-loader img { position: relative; width: 35px; top: 50%; margin: auto; transform: translateY(-50%); }
.rci-renault.rci-common .rci-page-loader::before { content: " "; display: table; }
.rci-renault.rci-common .rci-simulatorHeader { padding: 23px 16px; letter-spacing: -0.2px; background-color: rgb(255, 255, 255); }
.rci-renault.rci-common .rci-simulatorHeader::before { content: " "; display: none; width: 0px; height: 0px; background-color: rgb(255, 255, 255); }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-simulatorHeader::before { width: 0px; height: 0px; }
}
.rci-renault.rci-common .rci-simulatorHeader .rci-simulator-header-title { border-bottom: 0px; padding: 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-simulatorHeader .rci-simulator-header-title { white-space: inherit; text-overflow: ellipsis; border-bottom: 0px; padding: 0px; overflow: hidden; }
}
.rci-renault.rci-common .rci-simulatorHeader .rci-simulator-header-title .rci-simulator-header-title-span { font-size: 38px; font-family: renaultlifeweb-regular; color: rgb(0, 0, 0); line-height: normal; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-simulatorHeader .rci-simulator-header-title .rci-simulator-header-title-span { font-size: 30px; }
}
.rci-renault.rci-common .rci-customerNavigation { background-color: rgb(238, 238, 238); }
.rci-renault.rci-common .rci-customerNavigation .rci-title { text-align: center; font-size: 16px; font-family: renaultlifeweb-regular; }
.rci-renault.rci-common .rci-customerNavigation .rci-wrapper .rci-navigation { padding: 15px 15px 0px; border-top: none; display: table; width: 100%; }
.rci-renault.rci-common .rci-vehicleNavigation { display: table; width: 100%; }
.rci-renault.rci-common .rci-vehicleNavigation .rci-vehicleBox { background-color: rgb(255, 255, 255); }
.rci-renault.rci-common .rci-vehicleNavigation .rci-vehicleBox .rci-vehicle-area-right { height: 0px; }
.rci-renault.rci-common .rci-customerContent .rci-watchers-hide { display: none !important; }
.rci-compare-hide { display: none !important; }
.rci-renault.rci-common .rci-customerContent .rci-missing-child { display: none; }
.rci-renault.rci-common .rci-customerContent.rci-active { display: block; }
.rci-renault.rci-common .rci-customerContent.rci-inactive { display: none; }
.rci-renault.rci-common .rci-customerContent .rci-products .rci-wrapper.rci-wrapper--fixed { z-index: 999; position: relative; }
.rci-renault.rci-common .rci-customerContent .rci-products .rci-wrapper .rci-navigation .rci-navigation-product { padding: 10px 0px 0px; }
.rci-renault.rci-common .rci-customerContent .rci-products .rci-content { padding: 0px; }
.rci-renault.rci-common .rci-fixed-navigation-placeholder { display: table; width: 100%; }
.rci-renault.rci-common .rci-tab { width: 100%; }
.rci-renault.rci-common .rci-tab .rci-box-title { word-break: break-word; }
.rci-renault.rci-common .rci-tab .rci-summary-label.rci-summary-label--no-value .rci-summary-label-title { word-break: break-word; }
.rci-renault.rci-common .rci-tab .rci-summary-label:not(.rci-summary-label--no-info) .rci-box-title, .rci-renault.rci-common .rci-tab .rci-summary-label:not(.rci-summary-label--no-info) .rci-summary-label-title { overflow: visible; }
.rci-renault.rci-common .rci-tab.rci-inactive { display: none; }
.rci-renault.rci-common .rci-tab.rci-compare { width: 50%; float: left; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-missing-child { display: block; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare .rci-missing-child { display: none; }
}
.rci-renault.rci-common .rci-tab.rci-compare .rci-watchers-hide { visibility: hidden; display: block !important; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-boxes-hide { display: block !important; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-compare-hide { display: none !important; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-productHeaderBox .rci-summary-label { width: 100%; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-productHeaderBox.rci-image-content .rci-summary-label { width: 50%; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-servicesBox .rci-amount-col { width: 100px; text-align: right; padding-left: 0px; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-summaryBox .rci-summary-label.rci-summary-label--no-title .rci-summary-label-value { width: 100%; text-align: left; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-summaryBox .rci-summary-label-title { width: calc(100% - 130px); }
.rci-renault.rci-common .rci-tab.rci-compare .rci-summaryBox .rci-summary-label-value { width: 130px; text-align: right; }
.rci-renault.rci-common .rci-tab.rci-compare .rci-summaryBox .rci-summary-label-info-icon { width: 22px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-inactive { z-index: 0; display: inline-block; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left { z-index: 1; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-box-title { width: 200%; position: relative; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-box-title + .rci-info-content-col .rci-info-hint-content { width: 192%; left: 4%; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-productHeaderBox { padding: 20px; margin: 0px 0px 20px 15px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-productHeaderBox { padding: 20px; margin: 0px 0px 20px 15px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-productHeaderBox::after { display: block; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-slidersBox { padding: 0px; margin: 0px 0px 0px 15px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-slidersBox { padding: 0px; margin: 0px 0px 0px 15px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-slidersBox::after { display: block; top: 70px !important; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-servicesBox { padding: 0px; margin: 20px 0px 0px 15px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-servicesBox { padding: 0px; margin: 20px 0px 0px 15px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-servicesBox::after { display: block; top: 70px !important; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-summaryBox { padding: 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-summaryBox { padding: 0px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-summaryBox::after { display: block; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct { padding: 15px 35px 30px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct { padding: 15px 35px 30px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct .rci-box-title { width: 100%; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct::after { display: block; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-productHeaderBox::after, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-slidersBox::after, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-servicesBox::after, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-summaryBox::after, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct::after { content: " "; position: absolute; border-right: 1px solid rgb(221, 221, 221); top: 90px; right: 0px; bottom: 10px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-productHeaderBox::after { top: 20px; bottom: 20px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-summaryBox::after { bottom: 0px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-left .rci-legalBoxProduct::after { top: 0px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-box-title { visibility: hidden; width: 200%; left: -100%; position: relative; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-box-title + .rci-info-content-col .rci-info-hint-content { width: 192%; left: 4%; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-productHeaderBox { padding: 20px; margin: 0px 15px 20px 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-productHeaderBox { padding: 20px; margin: 0px 15px 20px 0px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-slidersBox { padding: 0px; margin: 0px 15px 0px 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-slidersBox { padding: 0px; margin: 0px 15px 0px 0px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-servicesBox { padding: 0px; margin: 20px 15px 0px 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-servicesBox { padding: 0px; margin: 20px 15px 0px 0px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-summaryBox { padding: 0px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-summaryBox { padding: 0px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-legalBoxProduct { padding: 15px 35px 30px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-legalBoxProduct .rci-box-title { visibility: hidden; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-legalBoxProduct { padding: 15px 35px 30px; }
}
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-servicesBox .rci-box-title, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-summaryBox .rci-box-title, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-slidersBox .rci-box-title { position: relative; left: -100%; width: 200%; padding-left: 0px; padding-right: 0px; }
.rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-servicesBox .rci-box-title + .rci-info-content-col, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-summaryBox .rci-box-title + .rci-info-content-col, .rci-renault.rci-common .rci-tab.rci-compare.rci-compare-right .rci-slidersBox .rci-box-title + .rci-info-content-col { left: -100%; }
.rci-renault.rci-common .rci-tab .rci-summary-label-title, .rci-renault.rci-common .rci-tab .rci-summary-label-value { text-size-adjust: 100%; }
.rci-renault.rci-common .rci-tab .rci-box-title { font-family: renaultlifeweb-regular; font-size: 20px; color: rgb(0, 0, 0); text-align: center; padding: 15px 10px; position: relative; letter-spacing: 0px; line-height: normal; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-box-title { font-size: 20px; }
}
.rci-renault.rci-common .rci-tab .rci-box-title::before, .rci-renault.rci-common .rci-tab .rci-box-title::after { display: none; content: " "; letter-spacing: 0px; }
.rci-renault.rci-common .rci-tab .rci-box-title::before { padding: 0px; }
.rci-renault.rci-common .rci-tab .rci-box-title::after { padding: 0px; }
.rci-renault.rci-common .rci-tab .rci-slidersBox { user-select: none; margin: 0px 15px; }
.rci-renault.rci-common .rci-tab .rci-slidersBox .rci-box-title { background-color: rgb(255, 255, 255); text-align: center; padding: 15px 5px; }
.rci-renault.rci-common .rci-tab .rci-slidersBox .rci-box-title::after { position: absolute; border-bottom: none; bottom: 0px; left: 25px; width: 93%; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-slidersBox .rci-box-title::after { width: 90%; }
}
.rci-renault.rci-common .rci-tab .rci-slidersBox > .rci-content { background-color: rgb(255, 255, 255); padding: 10px 20px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-slidersBox > .rci-content { padding: 10px 20px; }
}
.rci-renault.rci-common .rci-tab .rci-servicesBox { margin: 20px 15px 0px; background-color: rgb(255, 255, 255); }
.ie9 .rci-renault.rci-common .rci-tab .rci-servicesBox, .ie10 .rci-renault.rci-common .rci-tab .rci-servicesBox { z-index: 2; }
.rci-renault.rci-common .rci-tab .rci-servicesBox .rci-box-title { background-color: rgb(255, 255, 255); text-align: center; margin-left: 0px; margin-right: 0px; padding-bottom: 0px; }
.rci-renault.rci-common .rci-tab .rci-servicesBox .rci-box-title::after { position: absolute; border-bottom: none; bottom: 0px; left: 25px; width: 93%; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-servicesBox .rci-box-title::after { width: 90%; }
}
.rci-renault.rci-common .rci-tab .rci-servicesBox .rci-box-title .rci-label-value.rci-col { float: none; }
.rci-renault.rci-common .rci-tab .rci-servicesBox > .rci-content { background-color: rgb(255, 255, 255); padding: 20px; border-top: none; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-servicesBox > .rci-content { padding: 15px; }
}
.rci-renault.rci-common .rci-tab .rci-servicesBox .rci-box-title-info-hint-container .rci-info-hint-content { width: 96%; left: 2%; }
.rci-renault.rci-common .rci-tab .rci-summaryBox { margin: 0px; background-color: rgb(255, 255, 255); }
.ie9 .rci-renault.rci-common .rci-tab .rci-summaryBox, .ie10 .rci-renault.rci-common .rci-tab .rci-summaryBox { z-index: 1; }
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-box-title { background-color: rgb(238, 238, 238); }
.rci-renault.rci-common .rci-tab .rci-summaryBox > .rci-content { background-color: rgb(255, 255, 255); padding: 30px 35px 10px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-summaryBox > .rci-content { padding: 30px 35px 10px; }
}
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-summary-label { padding: 3px 0px; }
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-summary-label .rci-summary-label-value { font-weight: normal; }
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-summary-label.rci-watchers-hide { padding: 0px !important; }
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-summary-label.rci-summary-label--summary-header { padding: 4px 0px 17px; font-weight: normal; }
.rci-renault.rci-common .rci-tab .rci-summaryBox .rci-summary-label.rci-summary-label--no-info { padding: 5px 0px; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct { margin: 0px; padding: 15px 35px 30px; background-color: rgb(255, 255, 255); text-align: left; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-tab .rci-legalBoxProduct { padding: 15px 35px 30px; }
}
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct .rci-summary-label { border: none; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct .rci-box-title { width: auto; padding: 15px 0px; border-bottom: none; display: block; background-color: rgb(255, 255, 255); text-align: left; font-size: 16px; font-family: renaultlifeweb-bold; color: gray; letter-spacing: 0px; font-weight: normal; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct .rci-box-title::before, .rci-renault.rci-common .rci-tab .rci-legalBoxProduct .rci-box-title::after { display: none; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct > .rci-content { background-color: rgb(255, 255, 255); padding: 0px; border-top: none; text-align: left; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-value, .rci-renault.rci-common .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-title { font-family: renaultlifeweb-regular; font-size: 14px; font-weight: normal; line-height: normal; }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-value { color: rgb(0, 0, 0); }
.rci-renault.rci-common .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-title { color: gray; }
.rci-renault.rci-common .rci-tab .rci-productHeaderBox, .rci-renault.rci-common .rci-tab .rci-slidersBox, .rci-renault.rci-common .rci-tab .rci-servicesBox, .rci-renault.rci-common .rci-tab .rci-summaryBox, .rci-renault.rci-common .rci-tab .rci-legalBoxProduct { position: relative; }
.ie9 .rci-renault.rci-common .rci-tab .rci-productHeaderBox, .ie10 .rci-renault.rci-common .rci-tab .rci-productHeaderBox, .ie9 .rci-renault.rci-common .rci-tab .rci-slidersBox, .ie10 .rci-renault.rci-common .rci-tab .rci-slidersBox, .ie9 .rci-renault.rci-common .rci-tab .rci-servicesBox, .ie10 .rci-renault.rci-common .rci-tab .rci-servicesBox, .ie9 .rci-renault.rci-common .rci-tab .rci-summaryBox, .ie10 .rci-renault.rci-common .rci-tab .rci-summaryBox, .ie9 .rci-renault.rci-common .rci-tab .rci-legalBoxProduct, .ie10 .rci-renault.rci-common .rci-tab .rci-legalBoxProduct { opacity: 0.99; }
.rci-renault.rci-common .rci-one-design .rci-tab .rci-legalBoxProduct { padding: 0px 30px 40px; }
.rci-renault.rci-common .rci-one-design .rci-tab .rci-legalBoxProduct .rci-box-title { padding: 0px 0px 10px; font-size: 14px; font-family: ReadBeta2-Bold; color: rgb(0, 0, 0); }
.rci-renault.rci-common .rci-one-design .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-value, .rci-renault.rci-common .rci-one-design .rci-tab .rci-legalBoxProduct > .rci-content .rci-summary-label-title { font-family: ReadBeta2-Regular; font-size: 12px; line-height: normal; color: gray; }
.rci-renault.rci-common .rci-one-design .rci-tab .rci-servicesBox .rci-box-title-info-hint-container .rci-info-hint-content { width: 100%; left: 0px; }
@media (max-width: 750px) {
    .rci-renault.rci-common .rci-compare .rci-productHeaderBox .rci-content .rci-summary-label .rci-summary-label-value { font-size: 16px; }
}
.rci-renault.rci-common .rci-productHeaderBox { padding: 20px; margin: 0px 15px 20px; background-color: rgb(255, 255, 255); border-bottom: none; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox { padding: 20px; margin: 0px 15px 20px; }
}
.rci-renault.rci-common .rci-productHeaderBox > .rci-content { padding-top: 10px; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label { width: 100%; float: left; border: none; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label { width: 100%; }
}
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label .rci-summary-label-title { font-size: 30px; color: rgb(0, 0, 0); font-family: renaultlifeweb-regular; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label .rci-summary-label-title { font-size: 24px; }
}
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label .rci-summary-label-value { font-size: 30px; color: rgb(0, 0, 0); font-family: renaultlifeweb-regular; line-height: normal; text-align: initial; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label .rci-summary-label-value { font-size: 24px; }
}
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--promoText { width: 100%; padding: 8px 0px 12px; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--promoText .rci-summary-label-title, .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--promoText .rci-summary-label-value { font-family: renaultlifeweb-regular; font-size: 16px; color: gray; line-height: normal; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--promoText .rci-summary-label-title, .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--promoText .rci-summary-label-value { font-size: 16px; }
}
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--teachingSentence { width: 100%; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--teachingSentence .rci-summary-label-title, .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label.rci-summary-label--teachingSentence .rci-summary-label-value { font-size: 16px; color: gray; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label:not(.rci-summary-label--no-info) { width: 100%; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label:not(.rci-summary-label--no-info) .rci-summary-label-title, .rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label:not(.rci-summary-label--no-info) .rci-summary-label-value { width: 100%; }
.rci-renault.rci-common .rci-productHeaderBox .rci-title { display: none; }
.rci-renault.rci-common .rci-productHeaderBox.rci-image-content { text-align: center; }
.rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-content { height: 100%; }
.rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-image-wrapper { top: 50%; transform: translate(0px, -50%); width: 50%; float: right; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-image-wrapper { top: auto; transform: none; width: 100%; }
}
.rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-image-wrapper img { max-width: 100%; float: right; padding: 0px; max-height: 70px; }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-image-wrapper img { width: auto; text-align: center; padding: 0px; float: none; max-height: 35px; }
}
.rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-summary-label { width: 50%; top: 50%; padding: 0px; transform: translate(0px, -50%); }
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-summary-label .rci-summary-label-value { text-align: center; }
}
@media (max-width: 580px) {
    .rci-renault.rci-common .rci-productHeaderBox.rci-image-content .rci-summary-label { top: auto; transform: none; width: 100%; }
}
.rci-renault.rci-common .rci-fixed-menu-title { background-color: rgb(255, 255, 255); padding: 10px; margin: 10px 15px; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-summary-label { border: none; width: 50%; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-summary-label.rci-floating-compare { width: 100%; text-align: center; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-summary-label .rci-summary-label-title, .rci-renault.rci-common .rci-fixed-menu-title .rci-summary-label .rci-summary-label-value { color: rgb(0, 0, 0); font-size: 24px; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-title-wrapper-left, .rci-renault.rci-common .rci-fixed-menu-title .rci-title-wrapper-right { width: 50%; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-image-wrapper { width: 50%; float: right; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-image-wrapper > img { height: 30px; float: right; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-image-wrapper.rci-floating-compare { text-align: center; width: 100%; }
.rci-renault.rci-common .rci-fixed-menu-title .rci-image-wrapper.rci-floating-compare > img { float: none; height: 100%; padding: 4px; }
.rci-renault.rci-common .rci-productHeaderBox .rci-content { display: table; width: 100%; }
.rci-renault.rci-common .rci-productHeaderBox .rci-content::before { content: none; }
.rci-renault.rci-common .rci-productHeaderBox .rci-content .rci-col.rci-summary-label, .rci-renault.rci-common .rci-productHeaderBox .rci-content .rci-col.rci-image-wrapper { display: table-cell; vertical-align: middle; transform: none; }
.rci-renault.rci-common .rci-productHeaderBox .rci-content .rci-summary-label.rci-summary-label--no-title .rci-summary-label-title { display: none; }
.rci-renault.rci-common .rci-actionBox { padding-top: 25px; padding-bottom: 10px; }
.rci-renault.rci-common .rci-actionBox > .rci-title { display: none; }
.rci-renault.rci-common .rci-actionBox > .rci-content { text-align: center; }
.rci-renault.rci-common .rci-summaryBox .rci-summary-label .rci-summary-label-title, .rci-renault.rci-common .rci-summaryBox .rci-summary-label .rci-summary-label-value { padding-top: 0px; }
.rci-renault.rci-common .rci-productHeaderBox > .rci-content .rci-summary-label .rci-summary-label-info-content .rci-info-hint-content { margin: 8px 0px 39px; }
.rci-renault.rci-common .fixed-navigation { background-color: rgb(222, 222, 222); box-shadow: rgb(187, 187, 187) 0px 10px 10px -5px; }
.rci-renault.rci-common .fixed-navigation .rci-nav { padding-bottom: 15px; }
.rci-renault.rci-common .fixed-navigation .rci-nav .rci-nav-ul .rci-nav-li.rci-selected-without-arrow::after { display: none; }
.rci-renault.rci-common.rci-india .arrow-white { width: 0px; height: 0px; border-style: solid; border-width: 30px 614px 0px; border-color: rgb(255, 255, 255) transparent transparent; }
.rci-renault.rci-common.rci-india .arrow-1 { margin-top: 0px; margin-bottom: 10px; }
.rci-renault.rci-common.rci-india .arrow-2 { display: none; margin-left: -30px; margin-bottom: 20px; }
.rci-renault.rci-common.rci-india .arrow-3 { display: none; margin-left: -30px; margin-top: -30px; margin-bottom: 20px; }
.rci-renault.rci-common.rci-india .arrow-4 { margin-left: 0px; margin-bottom: 30px; }
.rci-renault.rci-common.rci-india .arrow-gray { width: 0px; height: 0px; border-style: solid; border-width: 30px 614px 0px; border-color: rgb(222, 222, 222) transparent transparent; }
.rci-renault.rci-common.rci-india .rci-simulatorHeader { padding: 30px; }
.rci-renault.rci-common.rci-india .rci-simulatorHeader .rci-simulator-header-title .rci-simulator-header-title-span { text-transform: capitalize; font-size: 30px; }
.rci-renault.rci-common.rci-india .rci-box-title { padding: 15px 0px 0px; }
.rci-renault.rci-common.rci-india .rci-vehicleBox, .rci-renault.rci-common.rci-india .rci-areaBox { width: 50%; padding: 5px 30px; }
@media (max-width: 580px) {
    .rci-renault.rci-common.rci-india .rci-vehicleBox, .rci-renault.rci-common.rci-india .rci-areaBox { width: 100%; }
}
.rci-renault.rci-common.rci-india .rci-vehicleBox .rci-box-title, .rci-renault.rci-common.rci-india .rci-areaBox .rci-box-title { font-family: renaultlifeweb-bold; padding: 10px 0px 0px; color: rgb(102, 102, 102); font-size: 18px; }
.rci-renault.rci-common.rci-india .rci-vehicleBox .rci-box-title .box-header-subtitle, .rci-renault.rci-common.rci-india .rci-areaBox .rci-box-title .box-header-subtitle { font-family: renaultlifeweb-regular; font-size: 28px; color: rgb(0, 0, 0); }
.rci-renault.rci-common.rci-india .rci-vehicleBox .rci-vihicle-area .rci-vehicle-area-right, .rci-renault.rci-common.rci-india .rci-areaBox .rci-vihicle-area .rci-vehicle-area-right { height: auto; }
.rci-renault.rci-common.rci-india .rci-vehicleBox .rci-vihicle-area .rci-vehicle-area-right .rci-vehicle-area-image, .rci-renault.rci-common.rci-india .rci-areaBox .rci-vihicle-area .rci-vehicle-area-right .rci-vehicle-area-image { width: 100%; position: relative; }
.rci-renault.rci-common.rci-india .rci-vehicleBox { padding-right: 10px; }
@media (max-width: 580px) {
    .rci-renault.rci-common.rci-india .rci-vehicleBox { padding-right: 30px; }
}
.rci-renault.rci-common.rci-india .rci-areaBox .rci-box-title { padding: 10px 0px; }
.rci-renault.rci-common.rci-india .rci-slidersBox { margin: 0px; padding: 15px; background-color: rgb(222, 222, 222); border-top: 1px solid rgb(204, 204, 204); }
.rci-renault.rci-common.rci-india .rci-slidersBox > .rci-content { background-color: rgb(255, 255, 255); padding: 0px 20px; }
.rci-renault.rci-common.rci-india .rci-slidersBox .rci-box-title { background-color: rgb(222, 222, 222); font-size: 28px; text-align: center; padding-top: 0px; }
.rci-renault.rci-common.rci-india .rci-slidersBox .rci-slider-component { background-color: rgb(255, 255, 255); padding: 20px 0px; }
.rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaUpBox .rci-content { padding-bottom: 25px; }
.rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaUpBox, .rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaDownBox { background-color: rgb(222, 222, 222); }
.rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaUpBox .rci-box-title, .rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaDownBox .rci-box-title { font-family: renaultlifeweb-bold; text-align: center; font-size: 18px; color: rgb(102, 102, 102); }
.rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaUpBox .rci-btn-wrapper, .rci-renault.rci-common.rci-india .rci-monthlyPaymentAreaDownBox .rci-btn-wrapper { padding-top: 40px; }
.rci-renault.rci-common.rci-india .rci-summaryBox { background-color: rgb(255, 255, 255); }
.rci-renault.rci-common.rci-india .rci-summaryBox > .rci-content { padding: 10px 25px 30px; }
.rci-renault.rci-common.rci-india .rci-summaryBox .rci-box-title { padding: 5px 25px; color: rgb(102, 102, 102); font-size: 18px; background-color: rgb(255, 255, 255); font-family: renaultlifeweb-bold; }
.rci-renault.rci-common.rci-india .rci-summaryBox .rci-box-subtitle { padding: 5px 25px; color: rgb(0, 0, 0); font-family: renaultlifeweb-regular; text-align: center; text-transform: capitalize; font-size: 30px; }
.rci-renault.rci-common.rci-india .rci-legalBoxProduct { padding: 5px 25px; border-top: 1px solid rgb(204, 204, 204); }
.rci-renault.rci-common.rci-india .rci-legalBoxProduct .rci-box-title { font-family: renaultlifeweb-bold; color: rgb(102, 102, 102); text-align: left; font-size: 18px; background-color: rgb(255, 255, 255); }
.rci-renault.rci-common.rci-india .rci-legalBoxProduct .rci-summary-label { border-bottom: none; color: rgb(243, 245, 246); }
